* {
     box-sizing: border-box;
     margin: 0;
     color:white;
     padding: 0px; 
     font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

body {
     background-color:	#000000;
     color:#FFFFFF;
     margin: 0px;
}



.box-container {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: start;
          flex-wrap: wrap;
          width: 95vw;
     }

 #palavra-secreta{
          color: white;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: start;
          font-size: 1.0em;
          margin-top: 60px;
     }

     
     
     #box-secreta {
          width: 700px;
          height: 300px;
          border: 1px solid 	#006400;
          margin-top: 50px;
          padding: 30px;
          border-radius: 20px;
          font-size: 1em;
          
     }
     /* .box-letra {
          border: 1px solid #006400; 
          text-align:center;
          box-shadow: 0px 2px 8px #006400;
          cursor:pointer;  
          width: 40px;
          height: 40px;
          margin: 7px;
          padding: 5px;

          font-size: 0.8em;
     } */
     
     
     .box-letra {
          width: 40px;
          height: 40px;
          border: 1px solid #006400;
          margin: 10px;
          padding: 10px;
          border-radius: 5px;
          font-size: 1em;
          text-align: center;
     }
     
     .box-letra:hover{
          color:	#FFFAFA;
          font-size: 1.5em;
          padding: 2px;
     }
     
    
     .letras{
          border-bottom: 3px solid #FFFAFA;
          width: 30px;
          margin-left: 10px;
          margin-right: 10px;
     }
     #box-tentativas {
          width: 980px;
          height: 70px;
          margin-top: 20px;
          padding: 10px 0px;
          font-size: 2em;
          text-align: center;
     }

     #box-resposta {
          text-align:center;
          color: #FFFFFF;
          background-color: 	        none;
          width: 600px;
          height: 50px;
          margin-top: 20px;
          padding: 5px 0px;
          font-size: 1em;
          border:1px solid #006400;
     }
     
    
     
     
     
     /*Dispositivos extra small (telefones em modo retrato, com menos de 576px)*/
     
     
/*Dispositivos mÊdios (tablets com menos de 992px)*/

         img{
     height:20px;
              
}

     
     
     


